@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>
</div>



<div class="text-center">


    <img src="~/img/joelhiltonheadshot.jpg" height="500" />


</div>

<br />
<br />

<div>
    <a asp-controller="Home" asp-action="gettoknowjoel"> Click here to get to know Joel more!! </a>
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="entermovies"> Click here to enter movies onto Joel's collection!! </a>
</div>

<div>
    <a asp-controller="Home" asp-action="MovieEntries"> Click here to view Joel's movie collection!! </a>
</div>



